.intro {
  background: #ffffff;

  &__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  &__photo {
    display: block;
    width: 50%;
    margin: 0 $base-spacing * 2 0 0;
    border-radius: $border-radius;
  }

  &__feature-text {
    @extend .feature-text;
  }
}
