.venue {
  background: linear-gradient(
      $color-venue-image-gradient,
      $color-venue-image-gradient
    ),
    url('../assets/pondvalley-wide-shot.jpg') bottom center / cover no-repeat;
  color: $color-text-light;
  min-height: 650px;

  &__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  &__feature-text {
    // See _globals.scss
    @extend .feature-text;
    width: 60%;
  }

  &__address {
    background: rgba(255, 255, 255, 0.1);
    border-radius: $border-radius;
    font: {
      size: $font-size * 2;
      weight: 300;
    }
    margin: 0 0 0 1em;
    padding: 1em;
    text-align: center;
    width: 40%;
  }
}
