.header {
  background: url('../assets/flowers.png') center/60% no-repeat;
  color: $color-text-light;
  min-height: 100vh;
  padding: $base-spacing;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;

  &__logo {
    width: 325px;
    margin: auto;
    max-width: 100%;
    filter: invert(100%) drop-shadow(1px 1px 2px $color-bg);
  }

  &__skip-to-main {
    opacity: 0.8;
    font-size: 2.4rem;
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
